*.bak
*.c
*.o
*.old
*.orig
*.rej
*.tar.gz
*.tmp
*~
.*.swp
.*.swo
.DS_Store
/*.tar.gz
/Build
/Build.bat
/LICENSE
/META.*
/MYMETA.*
/Makefile
/Makefile.PL
/PM_to_blib
/README
/_build
/blib
/cover_db
/pm_to_blib
/Net-IDN-Encode-*
/SIGNATURE
